{% extends 'auth_base.html' %}

{% block title %}Sign up{% endblock %}

{% block content %}
    <section class="m-b-lg">
            <header class="wrapper text-center"><strong>Sign up to go in wonder world</strong></header>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group"><input placeholder="Username" name="username"
                                               class="form-control rounded input-lg text-center no-border"></div>
                <div class="form-group"><input type="email" placeholder="Email" name="email"
                                               class="form-control rounded input-lg text-center no-border"></div>
                <div class="form-group"><input type="password" placeholder="Password" name="password1"
                                               class="form-control rounded input-lg text-center no-border"></div>
                <div class="form-group"><input type="password" placeholder="Confirm password" name="password2"
                                               class="form-control rounded input-lg text-center no-border"></div>
                <div class="checkbox i-checks m-b"><label class="m-l"> <input type="checkbox" checked="" name="tos"><i></i> Agree
                    the <a href="#">terms and policy</a> </label></div>
                <button type="submit" class="btn btn-lg btn-warning lt b-white b-2x btn-block btn-rounded"><i
                        class="icon-arrow-right pull-right"></i><span class="m-r-n-lg">Sign up</span></button>
                <div class="line line-dashed"></div>
                <p class="text-muted text-center">
                    <small>Already have an account?</small>
                </p>
                <a href="{% url 'login' %}" class="btn btn-lg btn-info btn-block btn-rounded">Sign in</a></form>
        </section>
{% endblock %}
