{% extends 'base.html' %}
{% load staticfiles thumbnail %}

{% block title %}Artist{% endblock %}

{% block content %}
    <section class="scrollable wrapper-lg">
        <div class="row">
            <div class="col-sm-9">
                <div class="panel wrapper-md">
                    <div class="row">
                        <div class="col-sm-4">
                            {% if performer.photo %}
                                <img src="{{ performer.photo|thumbnail_url:'performer_photo' }}" alt="artist" class="img-full m-b"/>
                            {% else %}
                                <img src="{% static 'images/m20-300x300.jpg' %}" alt="artist" class="img-full m-b"/>
                            {% endif %}

                        </div>
                        <div class="col-sm-8">
                            <h1 class="m-t-none m-b text-black h2">{{ performer.name }}</h1>
                            <p>{{ performer.description|safe }}</p>
                        </div>
                    </div>
                </div>
                <h3 class="m-t-none">Albums</h3>
                <div class="list-group list-group-lg">
                    {% for album in performer.albums.all %}
                        <div class="list-group-item">
                            <article class="clearfix">
                                <div class="pos-rlt pull-left m-r">
                                    <div class="item-overlay opacity r bg-black">
                                        <div class="center text-center m-t-n-sm">
                                            <a href="javascript:;" data-id="632" class="play-me i-lg">
                                                <i class="icon-control-play text"></i>
                                                <i class="icon-control-pause text-active"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="{% url 'album' album.pk %}" data-pjax title="{{ album }}" class="thumb-md">
                                        {% if album.photo %}
                                            <img src="{{ album.photo|thumbnail_url:'performer_albums' }}" class="r img-full wp-post-image" alt="" sizes="(max-width: 150px) 100vw, 150px"/>
                                        {% else %}
                                            <img src="{% static 'images/m20.jpg' %}" class="r img-full wp-post-image" alt="" sizes="(max-width: 150px) 100vw, 150px"/>
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="clear">
                                    <a href="{% url 'album' album.pk %}" data-pjax title="{{ album }}" class="text-ellipsis font-bold">{{ album.name }}</a>
                                </div>
                            </article>
                        </div>
                    {% endfor %}
                </div>
                <div style="padding-bottom: 80px"></div>
            </div>
            <div class="col-sm-3">
                <div id="music_term_widget-4" class="widget-1 widget-odd widget_music_term_widget widget"><h4
                        class="widget-title">Top 5 artist</h4>
                    <div class="list-group list-group-lg ">
                        <div class="list-group-item clearfix">
                            <div class="pos-rlt pull-left m-r">
                                <a href="#" class="thumb-sm">
                                    <img src="{% static 'images/m18.jpg' %}" alt="Miaow"
                                         class="img-full rounded"/>
                                </a>
                            </div>
                            <div class="">
                                <a href="#" class="m-t-sm m-b-sm text-ellipsis">Miaow</a>
                            </div>
                        </div>
                        <div class="list-group-item clearfix">
                            <div class="pos-rlt pull-left m-r">
                                <a href="#" class="thumb-sm">
                                    <img src="{% static 'images/m19.jpg' %}" alt="Alisher"
                                         class="img-full rounded"/>
                                </a>
                            </div>
                            <div class="">
                                <a href="#" class="m-t-sm m-b-sm text-ellipsis">Alisher</a>
                            </div>
                        </div>
                        <div class="list-group-item clearfix">
                            <div class="pos-rlt pull-left m-r">
                                <a href="#" class="thumb-sm">
                                    <img src="{% static 'images/m22.jpg' %}" alt="Muhammad"
                                         class="img-full rounded"/>
                                </a>
                            </div>
                            <div class="">
                                <a href="#" class="m-t-sm m-b-sm text-ellipsis">Muhammad</a>
                            </div>
                        </div>
                        <div class="list-group-item clearfix">
                            <div class="pos-rlt pull-left m-r">
                                <a href="#" class="thumb-sm">
                                    <img src="{% static 'images/m20.jpg' %}" alt="Umar"
                                         class="img-full rounded"/>
                                </a>
                            </div>
                            <div class="">
                                <a href="#" class="m-t-sm m-b-sm text-ellipsis">Umar</a>
                            </div>
                        </div>
                        <div class="list-group-item clearfix">
                            <div class="pos-rlt pull-left m-r">
                                <a href="#" class="thumb-sm">
                                    <img src="{% static 'images/m21.jpg' %}" alt="Selena"
                                         class="img-full rounded"/>
                                </a>
                            </div>
                            <div class="">
                                <a href="#" class="m-t-sm m-b-sm text-ellipsis">Selena</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}