{% extends 'base.html' %}
{% load staticfiles music_extras thumbnail %}

{% block title %}Genres{% endblock %}

{% block content %}
    <section class="w-f-md" id="bjax-target">
        <section class="hbox stretch"> <!-- side content -->
            <aside class="aside bg-light dk" id="sidebar">
                <section class="vbox animated fadeInUp">
                    <section class="scrollable hover">
                        <div class="list-group no-radius no-border no-bg m-t-n-xxs m-b-none auto">
                            {% genres as list_of_genres %}
                            <a href="{% url 'genre' 'All' %}"
                               class="list-group-item {% if currnet_genre == 'All' %}active{% endif %}"> All </a>
                            {% for genre in list_of_genres %}
                                <a href="{% url 'genre' genre.genre_name %}"
                                   class="list-group-item {% if currnet_genre == genre.genre_name %}active{% endif %}">{{ genre.genre_name }}</a>
                            {% endfor %}
                        </div>
                    </section>
                </section>
            </aside> <!-- / side content -->
            <section>
                <section class="vbox">
                    <section class="scrollable padder-lg"><h2
                            class="font-thin m-b">{{ currnet_genre|default:'All' }}</h2>
                        <div class="row row-sm">
                            {% for music in musics %}
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <div class="item">
                                        <div class="pos-rlt">
                                            <div class="item-overlay opacity r r-2x bg-black">
                                                <div class="center text-center m-t-n">
                                                    <a href="javascript:;" data-id="{{ music.id }}" class="jp-play-me"
                                                       data-toggle="class"> <i
                                                            class="icon-control-play i-2x text"></i> <i
                                                            class="icon-control-pause i-2x text-active"></i> </a>
                                                </div>
                                                <div class="bottom padder m-b-sm">
                                                {% with music.users_like.all as users_like %}
                                                    <a href="#" data-id="{{ music.id }}"
                                                       data-action="{% if request.user in users_like %}un{% endif %}like"
                                                       class="pull-right {% if request.user in users_like %}active{% endif %}"
                                                       data-toggle="class" id="music_like">
                                                        <i class="fa fa-heart-o text"></i>
                                                        <i class="fa fa-heart text-active text-danger"></i>
                                                    </a>
                                                {% endwith %}
                                                    <span class="dropdown">
                                                        <a href="#" class="dropdown-toggle"
                                                           data-toggle="dropdown">
                                                            <i class="fa fa-plus-circle"></i><i
                                                                class="fa fa-check-circle text-active text-info"></i></a>
                                                        <ul class="dropdown-menu animated fadeInRight">
                                                            <li><a href="#" data-toggle="class">Add to queue</a></li>
                                                            <li class="dropdown-submenu"><a href="#">Add to playlist</a>
                                                                {% if request.user.playlists.exists %}
                                                                <ul class="dropdown-menu" role="menu">
                                                                    {% for playlist in request.user.playlists.all %}
                                                                        <li>
                                                                            <a href="#" id="follow-playlist" data-music="{{ music.pk }}"
                                                                               data-playlist="{{ playlist.pk }}">
                                                                                {{ playlist.name }}
                                                                            </a>
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                                {% else %}
                                                                    <ul class="dropdown-menu" role="menu">
                                                                        <li>
                                                                            <a href="#modal-form" data-toggle="modal" style="color: red">
                                                                                Create new playlist...
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                {% endif %}
                                                            </li>
                                                        </ul>
                                                    </span>
                                                </div>
                                            </div>
                                            <a href="#">
                                                {% if music.photo %}
                                                    <img src="{{ music.photo|thumbnail_url:'genres' }}" alt="" class="r r-2x img-full">
                                                {% else %}
                                                    <img src="{% static 'images/m1.jpg' %}" alt="" class="r r-2x img-full">
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div class="padder-v"><a href="track-detail.html" data-bjax
                                                                 data-target="#bjax-target"
                                                                 data-el="#bjax-el" data-replace="true"
                                                                 class="text-ellipsis">{{ music.name }}</a> <a
                                                href="track-detail.html" data-bjax
                                                data-target="#bjax-target" data-el="#bjax-el"
                                                data-replace="true"
                                                class="text-ellipsis text-xs text-muted">{{ music.get_singers }}</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <ul class="pagination pagination">
                            <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </section>
                </section>
            </section>
        </section>
    </section>
{% endblock %}

{% block domready %}
    $(document).on('click', '#follow-playlist', function (e) {
        e.preventDefault();
        $.post('{% url 'add_to_playlist' %}',
            {
                music_id: $(this).data('music'),
                playlist_id: $(this).data('playlist')
            },
            function (data) {
                if (data['status'] == 'ok') {
                    console.alert("success");
                }
            }
        );
    });

    $(document).on('click', '#music_like', function (e) {
        e.preventDefault();
        $.post('{% url 'music_like' %}',
            {
                id: $(this).data('id'),
                action: $(this).data('action')
            },
            function (data) {
                if (data['status'] == 'ok') {
                    var previous_action = $('a.like').data('action');
                    // toggle data-action
                    $('a.like').data('action', previous_action == 'like' ?
                        'unlike' : 'like');
                    // toggle link text
                    $('a.like').text(previous_action == 'like' ? 'Unlike' :
                        'Like');
                    // update total likes
                    var previous_likes = parseInt($('span.count .total').text());
                    $('span.count .total').text(previous_action == 'like' ?
                    previous_likes + 1 : previous_likes - 1);
                }
            }
        );
    });
{% endblock %}