{% extends 'base.html' %}
{% load staticfiles music_extras recommends thumbnail %}

{% block title %}Home{% endblock %}

{% block content %}
    <section class="scrollable padder-lg w-f-md" id="bjax-target">
        <a href="#" class="pull-right text-muted m-t-lg" data-toggle="class:fa-spin"><i
                class="icon-refresh i-lg inline" id="refresh"></i></a>
    {% get_new_songs as list_of_new_songs %}
        <h2 class="font-thin m-b">New songs <span class="musicbar inline m-l-sm"
                                                  style="width:20px;height:20px"> <span
                class="bar1 a1 bg-primary lter"></span> <span class="bar2 a2 bg-info lt"></span> <span
                class="bar3 a3 bg-success"></span> <span
                class="bar4 a4 bg-warning dk"></span> <span
                class="bar5 a5 bg-danger dker"></span> </span></h2>
        <div class="row row-sm">
        {% for song in list_of_new_songs %}
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <div class="item">
                    <div class="pos-rlt">
                        <div class="item-overlay opacity r r-2x bg-black">
                            <div class="center text-center m-t-n">
                                <a href="javascript:;" data-id="1" class="jp-play-me" data-toggle="class"> <i
                                        class="icon-control-play i-2x text"></i> <i
                                        class="icon-control-pause i-2x text-active"></i> </a></div>
                            <div class="bottom padder m-b-sm">
                                <a href="#" class="pull-right" data-toggle="class">
                                    <i class="fa fa-heart-o text"></i>
                                    <i class="fa fa-heart text-active text-danger"></i>
                                </a>
                                <span class="dropdown">
                                    <a href="#" class="dropdown-toggle"
                                       data-toggle="dropdown">
                                        <i class="fa fa-plus-circle"></i><i
                                            class="fa fa-check-circle text-active text-info"></i></a>
                                    <ul class="dropdown-menu animated fadeInRight">
                                        <li><a href="#" data-toggle="class">Add to queue</a></li>
                                        <li class="dropdown-submenu"><a href="#">Add to playlist</a>
                                            <ul class="dropdown-menu" role="menu">
                                                {% for playlist in request.user.playlists.all %}
                                                    <li>
                                                        <a href="#" id="follow-playlist" data-music="1"
                                                           data-playlist="{{ playlist.pk }}">
                                                            {{ playlist.name }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    </ul>
                                </span>
                            </div>
                        </div>
                        <a href="#" title="Country girl shake it for me">
                            {% if song.photo %}
                                <img src="{{ song.photo|thumbnail_url:'discover_index' }}" alt="" class="r r-2x img-full">
                            {% else %}
                                <img src="{% static 'images/p3.jpg' %}" alt="" class="r r-2x img-full">
                            {% endif %}
                        </a>
                    </div>
                    <div class="padder-v"><a href="#" class="text-ellipsis">{{ song.name }}</a>
                        <a href="#" class="text-ellipsis text-xs text-muted">{{ song.get_singers }}</a></div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:2 and not forloop.last %}
            <div class="clearfix visible-xs"></div>
            {% endif %}
        {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-6"><h3 class="font-thin">Top playlists</h3>
                <div class="row row-sm">
                    {% get_top_playlists as top_playlists %}
                    {% for playlist in top_playlists %}
                        <div class="col-xs-6 col-sm-3">
                            <div class="item">
                                <div class="pos-rlt">
                                    <div class="item-overlay opacity r r-2x bg-black">
                                        <div class="center text-center m-t-n">
                                            <a href="#">
                                                <i class="fa fa-play-circle i-2x"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#">
                                        <img src="{{ playlist.photo|thumbnail_url:'new_songs_index'|default:'static/images/a2.png' }}" alt=""
                                             class="r r-2x img-full">
                                    </a>
                                </div>
                                <div class="padder-v">
                                    <a href="{% url 'playlist' playlist.pk %}" class="text-ellipsis">{{ playlist.name }}-{{ playlist.get_net_value }}</a>
                                    <a href="#" class="text-ellipsis text-xs text-muted">{{ playlist.creator }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6"><h3 class="font-thin">Top Albums</h3>
                <div class="list-group bg-white list-group-lg no-bg auto">
                    {% suggested as suggestions limit 5 %}
                    {% for suggested in suggestions %}
                        {{ suggested.object }}
                    {% endfor %}
                    {% get_top_albums as top_albums %}
                    {% for album in top_albums %}
                        <a href="{% url 'album' pk=album.pk %}" class="list-group-item clearfix">
                            <span class="pull-right h2 text-muted m-l">{{ forloop.counter }}</span>
                            <span class="pull-left thumb-sm avatar m-r">
                            <img src="{{ album.photo|thumbnail_url:'top_albums_index' }}" alt="...">
{#                                {% if album.photo %}#}
{#                                    <img src="{{ album.photo|thumbnail_url:'top_albums_index' }}" alt="...">#}
{#                                {% else %}#}
{#                                    <img src="{% static 'images/a4.png' %}" alt="...">#}
{#                                {% endif %}#}
                            </span>
                            <span class="clear">
                                <span>{{ album.name }}</span>
                                <small class="text-muted clear text-ellipsis">by {{ album.artist }}</small>
                            </span>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row m-t-lg m-b-lg">
            <div class="col-sm-6">
                <div class="bg-primary wrapper-md r"><a href="{% url 'login' %}"> <span class="h4 m-b-xs block"><i
                        class=" icon-user-follow i-lg"></i> Login or Create account</span> <span
                        class="text-muted">Save and share your playlist with your friends when you log in or create an account.</span>
                </a></div>
            </div>
            <div class="col-sm-6">
                <div class="bg-black wrapper-md r"><a href="#"> <span class="h4 m-b-xs block"><i
                        class="icon-cloud-download i-lg"></i> Download our app</span> <span
                        class="text-muted">Get our app for mobile to start listening music at anywhere and anytime.</span>
                </a></div>
            </div>
        </div>
    </section>
{% endblock %}

{% block domready %}
    $(document).on('click', '#follow-playlist', function (e) {
    e.preventDefault();
    $.post('{% url 'add_to_playlist' %}',
    {
    music_id: $(this).data('music'),
    playlist_id: $(this).data('playlist')
    },
    function (data) {
    if (data['status'] == 'ok') {
    console.alert("success");
    }
    }
    );
    });
{% endblock %}