{% extends 'base.html' %}
{% load staticfiles thumbnail %}

{% block title %}Playlist{% endblock %}

{% block content %}
    <section class="w-f-md">
        <section class="hbox stretch bg-black dker">
            <aside class="col-sm-5 no-padder" id="sidebar">
                <section class="vbox animated fadeInUp">
                    <section class="scrollable">
                        <div class="m-t-n-xxs item pos-rlt">
                            <div class="top text-right"><span
                                    class="musicbar bg-success bg-empty inline m-r-lg m-t"
                                    style="width:25px;height:30px"> <span
                                    class="bar1 a3 lter"></span> <span class="bar2 a5 lt"></span> <span
                                    class="bar3 a1 bg"></span> <span class="bar4 a4 dk"></span> <span
                                    class="bar5 a2 dker"></span> </span></div>
                            <div class="bottom gd bg-info wrapper-lg">
                                {% with playlist.followers.count as total_followers %}
                                <span class="pull-right text-sm">{{ total_followers }} <br>Follower{{ total_followers|pluralize }}</span>
                                {% endwith %}
                                <span class="h2 font-thin">{{ playlist.name }}</span></div>
                        <img class="img-full" src="{{ playlist.photo|thumbnail_url:'playlist_cover'|default:'images/m43.jpg' }}" alt="...">
{#                            {% if playlist.photo %}#}
{#                                <img class="img-full" src="{{ playlist.photo|thumbnail_url:'playlist_cover' }}" alt="...">#}
{#                            {% else %}#}
{#                                <img class="img-full" src="{% static 'images/m41.jpg' %}" alt="...">#}
{#                            {% endif %}#}
                        </div>
                        <ul class="list-group list-group-lg no-radius no-border no-bg m-t-n-xxs m-b-none auto">
                            {% for music in playlist.musics.all %}
                                <li class="list-group-item">
                                    <div class="pull-right m-l">
                                    {% with music.users_like.all as users_like %}
                                        <a href="#" data-id="{{ music.id }}"
                                           data-action="{% if request.user in users_like %}un{% endif %}like"
                                           class="m-r-sm {% if request.user in users_like %}active{% endif %}"
                                           data-toggle="class" id="music_like">
                                           <i class="fa fa-heart-o text"></i>
                                           <i class="fa fa-heart text-active text-danger"></i>
                                        </a>
                                    {% endwith %}
                                        <span class="dropdown">
                                            <a href="#" class="dropdown-toggle"
                                               data-toggle="dropdown">
                                                <i class="fa fa-plus-circle"></i><i
                                                    class="fa fa-check-circle text-active text-info"></i></a>
                                            <ul class="dropdown-menu animated fadeInRight listRight">
                                                <li><a href="#" data-toggle="class">Add to queue</a></li>
                                                <li class="dropdown-submenu"><a href="#">Add to playlist</a>
                                                    {% if request.user.playlists.exists %}
                                                    <ul class="dropdown-menu listRight" role="menu" style="right: 150px !important;">
                                                    {% for playlist in request.user.playlists.all %}
                                                        <li>
                                                            <a href="#" id="follow-playlist"
                                                               data-music="{{ music.pk }}"
                                                               data-playlist="{{ playlist.pk }}">
                                                                {{ playlist.name }}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                    </ul>
                                                    {% else %}
                                                    <ul class="dropdown-menu listRight" role="menu" style="right: 150px !important;">
                                                        <li>
                                                            <a href="#modal-form" data-toggle="modal" style="color: red">
                                                                Create new playlist...
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    {% endif %}
                                                </li>
                                            </ul>
                                        </span>
                                    </div>
                                   <a href="javascript:;" data-id="{{ music.id }}" class="jp-play-me m-r-sm pull-left" data-toggle="class">
                                        <i class="icon-control-play text"></i>
                                        <i class="icon-control-pause text-active"></i>
                                    </a>
                                    <div class="clear text-ellipsis">
                                        <span>{{ music.name }}</span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
                </section>
            </aside>
            <section class="col-sm-3 no-padder lt">
                <section class="vbox">
                    <section class="scrollable hover">
                        <div class="m-t-n-xxs">
                            <h4> Other playlists</h4>
                            {% for playlist in all_playlists %}
                                <div class="item pos-rlt">
                                    <a href="{% url 'playlist' playlist.pk %}" class="item-overlay active opacity wrapper-md font-xs {% if forloop.counter|divisibleby:2 %}text-right{% endif %}">
                                        <span class="block h3 font-bold {% if forloop.counter|divisibleby:2 %}text-warning{% else %}text-success text-u-c{% endif %}">{{ playlist.name }}</span>
                                        <span class="text-muted">{{ playlist.description|escape|truncatewords:5 }}</span>
                                        <span class="bottom wrapper-md block">{% if forloop.counter|divisibleby:2 %}<i class="icon-music-tone i-lg pull-left">  {{ playlist.musics.count }}</i>{% else %}<i class="icon-music-tone i-lg pull-right">  {{ playlist.musics.count }}</i>{% endif %}</span>
                                    </a>
                                    <a href="{% url 'playlist' playlist.pk %}">
                                        {% if playlist.photo %}
                                            <img class="img-full" src="{{ playlist.photo|thumbnail_url:'other_playlists_cover' }}" alt="...">
                                        {% else %}
                                            <img class="img-full" src="{% static 'images/m41.jpg' %}" alt="...">
                                        {% endif %}
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </section>
                </section>
            </section>
        </section>
    </section>
{% endblock %}
{% block domready %}
    $(document).on('click', '#follow-playlist', function (e) {
    e.preventDefault();
    $.post('{% url 'add_to_playlist' %}',
    {
    music_id: $(this).data('music'),
    playlist_id: $(this).data('playlist')
    },
    function (data) {
    if (data['status'] == 'ok') {
    console.alert("success");
    }
    }
    );
    });

    $(document).on('click', '#music_like', function (e) {
        e.preventDefault();
        $.post('{% url 'music_like' %}',
            {
                id: $(this).data('id'),
                action: $(this).data('action')
            },
            function (data) {
                if (data['status'] == 'ok') {
                    var previous_action = $('a.like').data('action');
                    // toggle data-action
                    $('a.like').data('action', previous_action == 'like' ?
                        'unlike' : 'like');
                    // toggle link text
                    $('a.like').text(previous_action == 'like' ? 'Unlike' :
                        'Like');
                    // update total likes
                    var previous_likes = parseInt($('span.count .total').text());
                    $('span.count .total').text(previous_action == 'like' ?
                    previous_likes + 1 : previous_likes - 1);
                }
            }
        );
    });
{% endblock %}