{% extends 'base.html' %}
{% load staticfiles thumbnail %}

{% block title %}Profile{% endblock %}

{% block content %}
    <section class="scrollable">
        <section class="hbox stretch">
            <aside class="col-lg-8 bg-light lter b-r">
                <section class="vbox">
                    <section class="scrollable">
                        <div class="wrapper">
                            <div class="text-center m-b m-t">
                                <a href="#" class="thumb-lg">
                                    {% if profile.photo %}
                                        <img style="width: 200px" src="{{ profile.photo|thumbnail_url:'profile_avatar_bigger' }}" class="img-circle">
                                    {% else %}
                                        <img style="width: 200px" src="{% static 'images/b22.jpg' %}"
                                             class="img-circle">
                                    {% endif %}
                                </a>
                                <div>
                                    <div class="h3 m-t-xs m-b-xs">{{ profile.get_username }}</div>
                                </div>
                            </div>
                            <div class="panel wrapper">
                                <div class="row text-center">
                                    <div class="col-xs-6"><a href="#"> <span
                                            class="m-b-xs h4 block">245</span>
                                        <small class="text-muted">Followers</small>
                                    </a></div>
                                    <div class="col-xs-6"><a href="#"> <span
                                            class="m-b-xs h4 block">55</span>
                                        <small class="text-muted">Following</small>
                                    </a></div>
                                </div>
                            </div>
                            <form action="#" method="post">
                                <div class="btn-group btn-group-justified m-b">
                                    <a href="#" class="btn btn-success btn-rounded" id="follow" data-toggle="button"
                                       data-id="{{ user.username }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow">
                                        {% if request.user not in user.followers.all %}
                                            <span class="text"> <i class="icon-user-follow"></i> Follow </span>
                                        {% else %}
                                            <span class="text-active"> <i class="icon-user-following"></i> Following </span>
                                        {% endif %}
                                    </a>
                                    <a class="btn btn-dark btn-rounded"> <i class="fa fa-eye"></i>Watch </a>
                                </div>
                            </form>
                            <div>
                                <h4 class="text-muted">About Me</h4>
                                {{ profile.bio|escape }}

                                <div class="line"></div>
                                <h4><a href="{% url 'edit_profile' %}"><i class="fa fa-edit"></i> Edit Profile</a></h4>
                                <div style="padding-bottom: 100px"></div>
                            </div>
                        </div>
                    </section>
                </section>
            </aside>
            <aside class="col-lg-4 b-l">
                <section class="vbox">
                    <section class="scrollable padder-v">
                        <div class="panel"><h4 class="font-thin padder">Playlists</h4>
                            <form action="#" method="post">
                                <ul class="list-group">
                                    {% for playlist in profile.playlists.all %}
                                        <li class="list-group-item">
                                            <p>
                                                <a href="{% url 'playlist' pk=playlist.pk %}" class="text-info">{{ playlist.name }}</a>
                                            </p>

                                            <small class="block text-muted"><i class="fa fa-clock-o"></i> Created {{ playlist.created_date|date:"d-m-y" }}
                                            </small>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </form>
                        </div>

                    </section>
                </section>
            </aside>
        </section>
    </section>
{% endblock %}

{% block domready %}
$('#follow').click(function (e) {
    e.preventDefault();
    $.post('{% url 'user_follow' %}',
        {
            id: $(this).data('id'),
            action: $(this).data('action')
        },
        function (data) {
            if (data['status'] == 'ok') {
                var previous_action = $('#follow').data('action');
                // toggle data-action
                $('#follow').data('action',
                    previous_action == 'follow' ? 'unfollow' : 'follow');
                // toggle link text
                $('#follow').text(
                    previous_action == 'follow' ? 'Unfollow' : 'Follow');
                // update total followers
                var previous_followers = parseInt(
                    $('span.count .total').text());
                $('span.count .total').text(previous_action == 'follow' ?
                    previous_followers + 1 : previous_followers - 1);
            }
        }
    );
});
{% endblock %}