{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Profile{% endblock %}

{% block content %}
    <section class="scrollable">
        <section class="hbox stretch">
            <aside class="col-lg-8 bg-light lter b-r">
                <section class="vbox">
                    <section class="scrollable">
                        <div class="wrapper">
                            <div class="text-center m-b m-t">
                                <a href="#" class="thumb-lg">
                                    {% if profile.photo %}
                                        <img style="width: 200px" src="{{ profile.photo.url }}" class="img-circle">
                                    {% else %}
                                        <img style="width: 200px" src="{% static 'images/b22.jpg' %}"
                                             class="img-circle">
                                    {% endif %}
                                </a>
                                <div>
                                    <div class="h3 m-t-xs m-b-xs">{{ profile.get_username }}</div>
                                </div>
                            </div>
                            <div class="panel wrapper">
                                <div class="row text-center">
                                    <div class="col-xs-6"><a href="#"> <span
                                            class="m-b-xs h4 block">245</span>
                                        <small class="text-muted">Followers</small>
                                    </a></div>
                                    <div class="col-xs-6"><a href="#"> <span
                                            class="m-b-xs h4 block">55</span>
                                        <small class="text-muted">Following</small>
                                    </a></div>
                                </div>
                            </div>
                            <form action="#" method="post">
                                <div class="btn-group btn-group-justified m-b">
                                    <a class="btn btn-success btn-rounded" data-toggle="button">
                                        <span class="text"> <i class="icon-user-follow"></i> Follow </span>
                                        <span class="text-active"> <i class="icon-user-following"></i> Following </span>
                                    </a>
                                    <a class="btn btn-dark btn-rounded"> <i class="fa fa-eye"></i>Watch </a>
                                </div>
                            </form>
                            <div>
                                <h4 class="text-muted">About Me</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id
                                    neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Lorem ipsum dolor sit
                                    amet, consectetur adipiscing elit. Morbi id
                                    neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Lorem ipsum dolor sit
                                    amet, consectetur adipiscing elit. Morbi id
                                    neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Lorem ipsum dolor sit
                                    amet, consectetur adipiscing elit. Morbi id
                                    neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Lorem ipsum dolor sit
                                    amet, consectetur adipiscing elit. Morbi id
                                    neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Lorem ipsum dolor sit
                                    amet, consectetur adipiscing elit. Morbi id
                                    neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat.</p>

                                <div class="line"></div>
                                <h4><a href="{% url 'edit_profile' %}"><i class="fa fa-edit"></i> Edit Profile</a></h4>
                                <div style="padding-bottom: 100px"></div>
                            </div>
                        </div>
                    </section>
                </section>
            </aside>
            <aside class="col-lg-4 b-l">
                <section class="vbox">
                    <section class="scrollable padder-v">
                        <div class="panel"><h4 class="font-thin padder">Playlists</h4>
                            <form action="#" method="post">
                                <ul class="list-group">
                                    <li class="list-group-item"><p><a href="{% url 'all_albums' %}" class="text-info">Play
                                        list 1</a></p>

                                        <small class="block text-muted"><i class="fa fa-clock-o"></i> 2
                                            minuts ago
                                        </small>
                                    </li>
                                    <li class="list-group-item"><p><a href="{% url 'all_albums' %}" class="text-info">Play
                                        list 2</a></p>

                                        <small class="block text-muted"><i class="fa fa-clock-o"></i> 12
                                            days ago
                                        </small>
                                    </li>
                                    <li class="list-group-item"><p><a href="{% url 'all_albums' %}" class="text-info">Play
                                        list 3</a></p>

                                        <small class="block text-muted"><i class="fa fa-clock-o"></i> 40
                                            days ago
                                        </small>
                                    </li>
                                </ul>
                            </form>
                        </div>

                    </section>
                </section>
            </aside>
        </section>
    </section>
{% endblock %}
