{% extends 'base.html' %}
{% load staticfiles music_extras thumbnail %}

{% block title %}Search{% endblock %}

{% block content %}
    <section class="w-f-md" id="bjax-target">
        <section class="hbox stretch">
            <section>
                <section class="vbox">
                    <section class="scrollable padder-lg"><h2 class="font-thin m-b">Search results for <b>{{ query|escape|escapejs }}</b></h2>
                        {% if no_result %}
                            <p>Sorry no matches found :( </p>
                        {% endif %}
                        {% if music_results %}
                        <h3 class="font-thin m-b">Songs</h3>
                        <div class="row row-sm">
                            {% for music in music_results %}
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <div class="item">
                                        <div class="pos-rlt">
                                            <div class="item-overlay opacity r r-2x bg-black">
                                                <div class="center text-center m-t-n"><a href="#">
                                                    <i class="fa fa-play-circle i-2x"></i></a>
                                                </div>
                                            </div>
                                            <a href="track-detail.html">
                                                {% if music.photo %}
                                                    <img src="{{ music.photo|thumbnail_url:'search' }}" alt="" class="r r-2x img-full">
                                                {% else %}
                                                    <img src="{% static 'images/m1.jpg' %}" alt="" class="r r-2x img-full">
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div class="padder-v"><a href="track-detail.html" data-bjax
                                                                 data-target="#bjax-target"
                                                                 data-el="#bjax-el" data-replace="true"
                                                                 class="text-ellipsis">{{ music.name }}</a> <a
                                                href="track-detail.html" data-bjax
                                                data-target="#bjax-target" data-el="#bjax-el"
                                                data-replace="true"
                                                class="text-ellipsis text-xs text-muted">{{ music.get_singers }}</a></div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <br>
                        {% endif %}
                        {% if album_results %}
                        <h3 class="font-thin m-b">Album</h3>
                        <div class="row row-sm">
                            {% for album in album_results %}
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <div class="item">
                                        <div class="pos-rlt">
                                            <div class="item-overlay opacity r r-2x bg-black">
                                                <div class="center text-center m-t-n"><a href="#"><i
                                                        class="fa fa-play-circle i-2x"></i></a></div>
                                            </div>
                                            <a href="track-detail.html">
                                                {% if album.photo %}
                                                    <img src="{{ album.photo|thumbnail_url:'search' }}" alt="" class="r r-2x img-full">
                                                {% else %}
                                                    <img src="{% static 'images/m1.jpg' %}" alt="" class="r r-2x img-full">
                                                {% endif %}

                                            </a>
                                        </div>
                                        <div class="padder-v"><a href="track-detail.html" data-bjax
                                                                 data-target="#bjax-target"
                                                                 data-el="#bjax-el" data-replace="true"
                                                                 class="text-ellipsis">{{ album.name }}</a> <a
                                                href="track-detail.html" data-bjax
                                                data-target="#bjax-target" data-el="#bjax-el"
                                                data-replace="true"
                                                class="text-ellipsis text-xs text-muted">{{ album.artist }}</a></div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <br>
                        {% endif %}
                        {% if playlist_results %}
                        <h3 class="font-thin m-b">PLaylists</h3>
                        <div class="row row-sm">
                            {% for playlist in playlist_results %}
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <div class="item">
                                        <div class="pos-rlt">
                                            <div class="item-overlay opacity r r-2x bg-black">
                                                <div class="center text-center m-t-n"><a href="#"><i
                                                        class="fa fa-play-circle i-2x"></i></a></div>
                                            </div>
                                            <a href="{% url 'playlist' playlist.pk %}">
                                                {% if playlist.photo %}
                                                    <img src="{{ playlist.photo|thumbnail_url:'search' }}" alt="" class="r r-2x img-full">
                                                {% else %}
                                                    <img src="{% static 'images/m1.jpg' %}" alt="" class="r r-2x img-full">
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div class="padder-v"><a href="{% url 'playlist' playlist.pk %}" data-replace="true"
                                                                 class="text-ellipsis">{{ playlist.name }}</a>
                                             <a href="{{ playlist.creator.get_absolute_url }}" data-replace="true"
                                                                 class="text-ellipsis text-xs text-muted">Created by: <span class="text-info">
                                                 {{ playlist.creator }}</span></a></div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <br>
                        {% endif %}
                        {% if user_results %}
                        <h3 class="font-thin m-b">Users</h3>
                        <div class="row row-sm">
                            {% for user in user_results %}
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <div class="item">
                                        <div class="pos-rlt">
                                            <div class="item-overlay opacity r r-2x bg-black">
                                                <div class="center text-center m-t-n"><a href="#"><i
                                                        class="fa fa-play-circle i-2x"></i></a></div>
                                            </div>
                                            <a href="{{ user.get_absolute_url }}">
                                                {% if user.photo %}
                                                    <img src="{{ user.photo|thumbnail_url:'search' }}" alt="" class="r r-2x img-full">
                                                {% else %}
                                                    <img src="{% static 'images/m1.jpg' %}" alt="" class="r r-2x img-full">
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div class="padder-v"><a href="{{ user.get_absolute_url }}" class="text-ellipsis">{{ user.username }}</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <br>
                        {% endif %}
                        {% if chart_results %}
                        <h3 class="font-thin m-b">Charts</h3>
                        <div class="row row-sm">
                            {% for chart in chart_results %}
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <div class="item">
                                        <div class="pos-rlt">
                                            <div class="item-overlay opacity r r-2x bg-black">
                                                <div class="center text-center m-t-n"><a href="#"><i
                                                        class="fa fa-play-circle i-2x"></i></a></div>
                                            </div>
                                            <a href="track-detail.html">
                                                {% if chart.photo %}
                                                    <img src="{{ chart.photo|thumbnail_url:'search' }}" alt="" class="r r-2x img-full">
                                                {% else %}
                                                    <img src="{% static 'images/m1.jpg' %}" alt="" class="r r-2x img-full">
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div class="padder-v"><a href="track-detail.html" data-bjax
                                                                 data-target="#bjax-target"
                                                                 data-el="#bjax-el" data-replace="true"
                                                                 class="text-ellipsis">{{ chart.name }}</a> <a
                                                href="track-detail.html" data-bjax
                                                data-target="#bjax-target" data-el="#bjax-el"
                                                data-replace="true"
                                                class="text-ellipsis text-xs text-muted">{{ chart.description|truncatewords:5 }}</a></div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <br>
                        {% endif %}
                        {% if performer_results %}
                        <h3 class="font-thin m-b">Artists</h3>
                        <div class="row row-sm">
                            {% for performer in performer_results %}
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    <div class="item">
                                        <div class="pos-rlt">
                                            <div class="item-overlay opacity r r-2x bg-black">
                                                <div class="center text-center m-t-n"><a href="#"><i
                                                        class="fa fa-play-circle i-2x"></i></a></div>
                                            </div>
                                            <a href="track-detail.html">
                                                {% if performer.photo %}
                                                    <img src="{{ performer.photo|thumbnail_url:'search' }}" alt="" class="r r-2x img-full">
                                                {% else %}
                                                    <img src="{% static 'images/m1.jpg' %}" alt="" class="r r-2x img-full">
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div class="padder-v"><a href="track-detail.html" data-bjax
                                                                 data-target="#bjax-target"
                                                                 data-el="#bjax-el" data-replace="true"
                                                                 class="text-ellipsis">{{ performer.name }}</a> <a
                                                href="track-detail.html" data-bjax
                                                data-target="#bjax-target" data-el="#bjax-el"
                                                data-replace="true"
                                                class="text-ellipsis text-xs text-muted">{{ performer.description|truncatewords:5 }}</a></div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if not no_result %}
                            <ul class="pagination pagination">
                                <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                            </ul>
                        {% endif %}
                    </section>
                </section>
            </section>
        </section>
    </section>
{% endblock %}

