{% extends 'base.html' %}
{% load staticfiles thumbnail music_extras %}

{% block title %}Top Paylists{% endblock %}

{% block content %}
    {% get_top_playlists as top_playlists %}
    {% get_last_playlist as last_playlist %}
    <section class="w-f-md">
        <section class="hbox stretch bg-black dker">
            <aside class="col-sm-5 no-padder" id="sidebar">
                <section class="vbox animated fadeInUp">
                    <section class="scrollable">
                        <div class="m-t-n-xxs item pos-rlt">
                            <div class="top text-right"><span
                                    class="musicbar bg-success bg-empty inline m-r-lg m-t"
                                    style="width:25px;height:30px"> <span
                                    class="bar1 a3 lter"></span> <span class="bar2 a5 lt"></span> <span
                                    class="bar3 a1 bg"></span> <span class="bar4 a4 dk"></span> <span
                                    class="bar5 a2 dker"></span> </span></div>
                            <div class="bottom gd bg-info wrapper-lg">
                                {% with playlist.followers.count as total_followers %}
                                <span class="pull-right text-sm">{{ total_followers }} <br>Follower{{ total_followers|pluralize }}</span>
                                {% endwith %}
                                <span class="h2 font-thin">{{ last_playlist.name }}</span></div>
                        <img class="img-full" src="{{ last_playlist.photo|thumbnail_url:'album_cover' }}" alt="...">
{#                        <img class="img-full" src="{% static 'images/m0.jpg' %}" style="height: 400px !important;" alt="...">#}
{#                            {% if album.photo %}#}
{#                                <img class="img-full" src="{{ album.photo|thumbnail_url:'album_cover' }}" alt="...">#}
{#                            {% else %}#}
{#                                <img class="img-full" src="{% static 'images/m43.jpg' %}" alt="...">#}
{#                            {% endif %}#}
                        </div>
                        <ul class="list-group list-group-lg no-radius no-border no-bg m-t-n-xxs m-b-none auto">
                            {% for music in last_playlist.musics.all %}
                                <li class="list-group-item">
                                    <div class="pull-right m-l">
                                        {% with music.users_like.all as users_like %}
                                            <a href="#" data-id="{{ music.id }}"
                                               data-action="{% if request.user in users_like %}un{% endif %}like"
                                               class="m-r-sm {% if request.user in users_like %}active{% endif %}"
                                               data-toggle="class" id="music_like">
                                               <i class="fa fa-heart-o text"></i>
                                               <i class="fa fa-heart text-active text-danger"></i>
                                            </a>
                                        {% endwith %}
                                        <span class="dropdown">
                                            <a href="#" class="dropdown-toggle"
                                               data-toggle="dropdown">
                                                <i class="fa fa-plus-circle"></i><i
                                                    class="fa fa-check-circle text-active text-info"></i></a>
                                            <ul class="dropdown-menu animated fadeInRight listRight">
                                                <li><a href="#" data-toggle="class">Add to queue</a></li>
                                                <li class="dropdown-submenu"><a href="#">Add to playlist</a>
                                                    {% if request.user.playlists.exists %}
                                                    <ul class="dropdown-menu listRight" role="menu" style="right: 150px !important;">
                                                    {% for playlist in request.user.playlists.all %}
                                                        <li>
                                                            <a href="#" id="follow-playlist"
                                                               data-music="{{ music.pk }}"
                                                               data-playlist="{{ playlist.pk }}">
                                                                {{ playlist.name }}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                    </ul>
                                                    {% else %}
                                                    <ul class="dropdown-menu listRight" role="menu" style="right: 150px !important;">
                                                        <li>
                                                            <a href="#modal-form" data-toggle="modal" style="color: red">
                                                                Create new playlist...
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    {% endif %}
                                                </li>
                                            </ul>
                                        </span>
                                    </div>
                                    <a href="javascript:;" data-id="{{ music.id }}" class="jp-play-me m-r-sm pull-left" data-toggle="class">
                                        <i class="icon-control-play text"></i>
                                        <i class="icon-control-pause text-active"></i>
                                    </a>
                                    <div class="clear text-ellipsis">
                                        <span>{{ music.name }}</span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
                </section>
            </aside> <!-- / side content -->
            <section class="col-sm-3 no-padder bg">
                <section class="vbox">
                    <section class="scrollable hover">
                        <ul class="list-group list-group-lg no-bg auto m-b-none m-t-n-xxs">
                            {% for playlist in top_playlists %}
                                <li class="list-group-item clearfix">

                                    <a href="{% url 'playlist' playlist.pk %}" class="jp-play-me pull-right m-t-sm m-l text-md">
                                        <i class="icon-control-play text"></i>
                                        <i class="icon-control-pause text-active"></i>
                                    </a>
                                    <a href="{% url 'playlist' playlist.pk %}" class="pull-left thumb-sm m-r">
                                        {% if playlist.photo %}
                                            <img src="{{ playlist.photo|thumbnail_url:'other_playlists_cover' }}" alt="...">
                                        {% else %}
                                            <img src="{% static 'images/m0.jpg' %}" alt="...">
                                        {% endif %}
                                    </a>
                                    <a class="clear" href="{% url 'playlist' playlist.pk %}">
                                        <span class="block text-ellipsis">{{ playlist.name }}</span>
                                        <small class="text-muted">by {{ playlist.creator }}</small>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
                </section>
            </section>
        </section>
    </section>
{% endblock %}

{% block domready %}
    $(document).on('click', '#follow-playlist', function (e) {
        e.preventDefault();
        $.post('{% url 'add_to_playlist' %}',
            {
                music_id: $(this).data('music'),
                playlist_id: $(this).data('playlist')
            },
            function (data) {
                if (data['status'] == 'ok') {
                    console.alert("success");
                }
            }
        );
    });

    $(document).on('click', '#music_like', function (e) {
        e.preventDefault();
        $.post('{% url 'music_like' %}',
            {
                id: $(this).data('id'),
                action: $(this).data('action')
            },
            function (data) {
                if (data['status'] == 'ok') {
                    var previous_action = $('a.like').data('action');
                    // toggle data-action
                    $('a.like').data('action', previous_action == 'like' ?
                        'unlike' : 'like');
                    // toggle link text
                    $('a.like').text(previous_action == 'like' ? 'Unlike' :
                        'Like');
                    // update total likes
                    var previous_likes = parseInt($('span.count .total').text());
                    $('span.count .total').text(previous_action == 'like' ?
                    previous_likes + 1 : previous_likes - 1);
                }
            }
        );
    });
{% endblock %}