{% extends 'base.html' %}
{% load staticfiles thumbnail %}

{% block title %}Top Paylists{% endblock %}

{% block content %}
    <section class="w-f-md">
        <section class="hbox stretch bg-black dker">
            <aside class="col-sm-5 no-padder" id="sidebar">
                <section class="vbox animated fadeInUp">
                    <section class="scrollable">
                        <div class="m-t-n-xxs item pos-rlt">
                            <div class="top text-right"><span
                                    class="musicbar bg-success bg-empty inline m-r-lg m-t"
                                    style="width:25px;height:30px"> <span
                                    class="bar1 a3 lter"></span> <span class="bar2 a5 lt"></span> <span
                                    class="bar3 a1 bg"></span> <span class="bar4 a4 dk"></span> <span
                                    class="bar5 a2 dker"></span> </span></div>
                            <div class="bottom gd bg-info wrapper-lg"><span class="pull-right text-sm">101,400 <br>Followers</span>
                                <span class="h2 font-thin">{{ album.name }}</span></div>
                        <img class="img-full" src="{{ album.photo|thumbnail_url:'album_cover' }}" alt="...">
{#                        <img class="img-full" src="{% static 'images/m0.jpg' %}" style="height: 400px !important;" alt="...">#}
{#                            {% if album.photo %}#}
{#                                <img class="img-full" src="{{ album.photo|thumbnail_url:'album_cover' }}" alt="...">#}
{#                            {% else %}#}
{#                                <img class="img-full" src="{% static 'images/m43.jpg' %}" alt="...">#}
{#                            {% endif %}#}
                        </div>
                        <ul class="list-group list-group-lg no-radius no-border no-bg m-t-n-xxs m-b-none auto">
                            {% for music in album.musics.all %}
                                <li class="list-group-item">
                                    <div class="pull-right m-l">
                                        <a href="#" class="m-r-sm" data-toggle="class">
                                            <i class="fa fa-heart-o text"></i>
                                            <i class="fa fa-heart text-active text-danger"></i>
                                        </a>
                                        <span class="dropdown">
                                            <a href="#" class="dropdown-toggle"
                                               data-toggle="dropdown">
                                                <i class="fa fa-plus-circle"></i><i
                                                    class="fa fa-check-circle text-active text-info"></i></a>
                                            <ul class="dropdown-menu animated fadeInRight listRight">
                                                <li><a href="#" data-toggle="class">Add to queue</a></li>
                                                <li class="dropdown-submenu"><a href="#">Add to playlist</a>
                                                    <ul class="dropdown-menu listRight" role="menu" style="right: 150px !important;">
                                                        {% for playlist in request.user.playlists.all %}
                                                            <li>
                                                                <a href="#" id="follow-playlist"
                                                                   data-music="{{ music.pk }}"
                                                                   data-playlist="{{ playlist.pk }}">
                                                                    {{ playlist.name }}
                                                                </a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            </ul>
                                        </span>
                                    </div>
                                    <a href="#" class="jp-play-me m-r-sm pull-left">
                                        <i class="icon-control-play text"></i>
                                        <i class="icon-control-pause text-active"></i>
                                    </a>
                                    <div class="clear text-ellipsis">
                                        <span>{{ music.name }}</span>
                                        <span class="text-muted"> -- 04:15</span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
                </section>
            </aside> <!-- / side content -->
            <section class="col-sm-3 no-padder bg">
                <section class="vbox">
                    <section class="scrollable hover">
                        <ul class="list-group list-group-lg no-bg auto m-b-none m-t-n-xxs">
                            {% for a in all_albums %}
                                <li class="list-group-item clearfix">
                                    <a href="#" class="jp-play-me pull-right m-t-sm m-l text-md">
                                        <i class="icon-control-play text"></i>
                                        <i class="icon-control-pause text-active"></i>
                                    </a>
                                    <a href="#" class="pull-left thumb-sm m-r">
                                        {% if a.photo %}
                                            <img src="{{ a.photo.url }}" alt="...">
                                        {% else %}
                                            <img src="{% static 'images/m0.jpg' %}" alt="...">
                                        {% endif %}
                                    </a>
                                    <a class="clear" href="#">
                                        <span class="block text-ellipsis">{{ a.name }}</span>
                                        <small class="text-muted">by {{ a.artist }}</small>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
                </section>
            </section>
        </section>
    </section>
{% endblock %}

